@model Cosmos.Cms.Common.Models.ArticleViewModel
@{
    Layout = null;
    ViewData["Title"] = Model.Title;
}
<!DOCTYPE HTML>
<html lang="@Model.LanguageCode">
<head>
    <title>@Model.Title</title>
    <meta name="cwps-meta-path-title" content="@Model.Title" />
    <meta name="cwps-meta-path-url" content="@Model.UrlPath" />
    <meta name="cwps-meta-path-updated" content="@Model.Updated" />
    <style>
        figure.media {
            width: 640px;
        }
    </style>
    @Html.Raw(Model.Layout.Head)
    @*
    Page specific header
    *@
    @Html.Raw(Model.HeadJavaScript)
    @*
    Application Insights Scripts
    *@
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    @Html.Raw(Model.Layout.HtmlHeader)
    <div ccms-content-id="@Model.Id">
        @Html.Raw(Model.Content)
    </div>
    @Html.Raw(Model.Layout.FooterHtmlContent)
    @*
    Page specific
    *@
    @Html.Raw(Model.FooterJavaScript)

    <script src="/lib/ckeditor/build_20230209.01/ckeditor.js"></script>
    <script>

        // Create editors
        var ccms_editors = [];
        var ccms_editorIds = [];
        var unmoutCkBox;

        function ccms_toolTip(el, message) {
            //tippy(el, {
            //    content: message, placement: 'right-start'
            //});
        }

        function ccms_toolTipMessage(el, message) {
            //el._tippy.setContent(message);
            //el._tippy.show();
        }

        document.addEventListener("DOMContentLoaded", function (event) {
            ccms_createEditors();
        });

        document.addEventListener('progress', (event) => {
            var debugval = event;
        });

        function ccms_createEditors() {

            const inlineInjectElements = document.querySelectorAll('[data-ccms-ceid]');

            Array.from(inlineInjectElements).forEach(inlineElement => {

                const config = {
                    toolbar: {},
                    licenseKey: '',
                    autosave: {
                        save(editor) {
                            return parent.ccms_saveEditorChanges(editor);
                        }
                    },
                    simpleUpload: {
                        // The URL that the images are uploaded to.
                        uploadUrl: '/FileManager/SimpleUpload/@Model.ArticleNumber',
                        // Enable the XMLHttpRequest.withCredentials property.
                        withCredentials: true
                    },
                    heading: {
                        options: [
                            { model: 'paragraph', title: 'Paragraph' },
                            { model: 'heading1', view: 'h1', title: 'Page Title' },
                            { model: 'heading2', view: 'h2', title: 'Heading 1' },
                            { model: 'heading3', view: 'h3', title: 'Heading 2' },
                            { model: 'heading4', view: 'h4', title: 'Heading 3' },
                            { model: 'heading5', view: 'h5', title: 'Heading 4' },
                            { model: 'heading6', view: 'h6', title: 'Heading 5' }
                        ]
                    },
                    link: {
                        decorators: {
                            toggleDownloadable: {
                                mode: 'manual',
                                label: 'Downloadable',
                                attributes: {
                                    download: 'file'
                                }
                            },
                            openInNewTab: {
                                mode: 'manual',
                                label: 'Open in a new tab',
                                defaultValue: '_self',
                                attributes: {
                                    target: '_self'
                                }
                            },
                            btnClass: {
                                model: 'manual',
                                label: 'CSS class',
                                attributes: {
                                    class: ''
                                }
                            }
                        }
                    }
                };

                BalloonEditor
                    .create(inlineElement, config)
                    .then(editor => {
                        editor.editing.view.document.on('change:isFocused', (evt, name, value) => {
                            if (editor.editing.view.document.isFocused) {
                                parent.ccms_signal_focus_others(editor, "focus");
                            } else {
                                parent.ccms_signal_focus_others(editor, "blur");
                            }
                        });
                        parent.ccms_signal_focus_others(editor, "join");
                        window.editor = editor;
                        ccms_editors.push(editor);
                    })
                    .catch(error => {
                        console.error(error);
                    });
            });

        }// End createEditors

        window.addEventListener("click", function () {
            parent.closeDropDowns();
        });

        window.addEventListener("keydown", (event) => {
            if (event.isComposing || event.keyCode === 229) {
                return;
            }

            // Handle CTRL-S to save changes
            if (event.ctrlKey || event.metaKey) {
                switch (String.fromCharCode(event.which).toLowerCase()) {
                    case 's':
                        event.preventDefault();

                        parent.saving();

                        const savePromise = parent.saveChanges(null, null);
                        savePromise.then((value) => {
                            parent.doneSaving();
                        });

                        break;
                }
            }
        });

    </script>
</body>
</html>